<?xml version="1.0"?>
<!-- 
This model is based on the UUV Simulator.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
      The auv gazebo model.  -->
  <!-- includes -->
  <xacro:include filename="$(find auv_descriptions)/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>  

  <!-- Parameters -->
  <xacro:property name="namespace" value="auv"/>
  <xacro:property name="visual_mesh_file" value="file://$(find auv_descriptions)/meshes/auv_body_low.dae"/>
  <xacro:property name="prop_mesh_file" value="file://$(find auv_descriptions)/meshes/prop_low.dae"/>

  <xacro:include filename="$(find auv_descriptions)/urdf/macros.xacro" />

  <xacro:property name="PI" value="3.14159265359"/>
  <!-- Mass, see p.28 in Berg2012 -->
 <xacro:property name="mass" value="1862.87"/> 
<!--   <xacro:property name="mass" value="300"/> -->

  <xacro:macro name="auv_base" params="namespace *gazebo inertial_reference_frame">
    <!-- base_link according to ROS conventions: x forward, z up -->
    <link name="${namespace}/base_link">

	  <inertial>
	    <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/> 
	    <mass value="${mass}"/> 
	    <cylinderInertia m="${mass}" r="0.5" h="0.5"/>
      </inertial>

      <visual>
        <origin xyz="0.0 0 0" rpy="${PI/2} 0 0"/>
        <geometry>
          <mesh filename="${visual_mesh_file}" scale="1.2 1.2 1.2"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.5 1.0 1.0"/>
        </geometry>
      </collision>

    </link>

    <!-- Set up hydrodynamic plugin given as input parameter -->
    <xacro:insert_block name="gazebo"/>

    <!-- optional: plugin to test compare Gazebo's returned accelerations
    <gazebo>
      <plugin name="${namespace}_test_plugin" filename="libuuv_accelerations_test_plugin.so">
        <link_name>${namespace}/base_link</link_name>
      </plugin>
    </gazebo> -->

    <xacro:include filename="$(find auv_descriptions)/urdf/auv_actuators.xacro"/>
    <xacro:include filename="$(find auv_descriptions)/urdf/auv_sensors.xacro"/>
  </xacro:macro>
</robot>
