<?xml version="1.0"?>
<launch>

    <!-- Launch gazebo and load the ocean world -->
	<include file="$(find auv_gazebo)/launch/auv_world.launch">
	</include>

    <!-- Spawn the auvs in gazebo -->
	<include file="$(find auv_descriptions)/launch/multiple_auvs.launch">
	</include>

	<!-- Position control (launches uuv acceleration, velocity and position cascade control loops) -->
	<!-- Launch one for each vehicle -->
	<include file="$(find auv_control)/launch/position_hold.launch">
		<arg name="model_name" value="auv0"/>
	</include>

	<include file="$(find auv_control)/launch/position_hold.launch">
		<arg name="model_name" value="auv1"/>
	</include>

	<include file="$(find auv_control)/launch/position_hold.launch">
		<arg name="model_name" value="auv2"/>
	</include>
<!-- 

	<include file="$(find auv_control)/launch/position_hold.launch">
		<arg name="model_name" value="auv3"/>
	</include> -->

    <!-- Position control (launches uuv acceleration, velocity and position cascade control loops) -->
	<!-- Launch one for each vehicle -->

	<!-- <include file="$(find auv_autonomy)/launch/aruco.launch">
		<arg name="model_name" value="auv0"/>
	</include>
	<include file="$(find auv_autonomy)/launch/aruco.launch">
		<arg name="model_name" value="auv1"/>
	</include>
	<include file="$(find auv_autonomy)/launch/aruco.launch">
		<arg name="model_name" value="auv2"/>
	</include> -->

	<!-- <include file="$(find auv_autonomy)/launch/aruco.launch">
		<arg name="model_name" value="auv3"/>
	</include> --> -->

</launch>
