<launch>
 
  <!-- Launch one upload_auv for each robot -->
  <!-- Namespace and initial positions must be diferent -->

 	<include file="$(find auv_descriptions)/launch/upload_auv.launch">
		<arg name="namespace" value="auv0"/>
    <arg name="x" value="20"/>
    <arg name="y" value="20"/>
    <arg name="z" value="-1"/>
	</include>

  <!-- <include file="$(find auv_descriptions)/launch/upload_auv.launch">
		<arg name="namespace" value="auv1"/>
    <arg name="x" value="-20"/>
    <arg name="y" value="-20"/>
    <arg name="z" value="-1"/>
	</include>

 <include file="$(find auv_descriptions)/launch/upload_auv.launch">
		<arg name="namespace" value="auv2"/>
    <arg name="x" value="20"/>
    <arg name="y" value="-20"/>
    <arg name="z" value="-1"/>
	</include> -->
<!-- 
  <include file="$(find auv_descriptions)/launch/upload_auv.launch">
		<arg name="namespace" value="auv3"/>
    <arg name="x" value="7"/>
    <arg name="y" value="12"/>
    <arg name="z" value="-1"/>
	</include> --> -->


</launch>