<?xml version="1.0" ?>
<model>
    <name>TurbineRotor</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Eduard Codres</name>
        <email>eduard.codres@manchester.ac.uk</email>
    </author>
    <description>Turbine static base</description>
</model>
